{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<div style="background-color: green ; width: 100%; height: 100px">
    <h3 class="text-white container pt-3">About Us</h2>
</div>

<div class="container">
    <img src="{% static 'css/images/ABOUT US.png' %}" style="width: 100%" alt="">
    <h2>About Us</h2>
    <hr>
    <p>Hello Friends.... <br>
        <p>Welcome to the Study Notes Sharing Site developed by Mowgli Vloggers using Python, Django, HTML, CSS, Bootstrap, and SQLite.</p>
        <p>This platform is designed to help students share and access study notes easily and efficiently. We aim to foster a collaborative learning environment where knowledge can be freely shared.</p>
        <h2>About Mowgli Vloggers</h2>
        <hr>
        <p>The Mowgli Vloggers channel was founded by Dhruv Rohatgi, a 4th-year student from NIT Agartala. The channel focuses on educational content, technology tutorials, and insights into student life. Dhruv's dedication to education and technology has been the driving force behind this project.</p>
</div>
<br><br>

{% endblock %}