{% extends 'navbar.html' %}
{% load static %}
{% block body %}

<style>
    .image {
        width: 100%;
        height: 470px;
        background-image: url("{% static 'css/images/mowglipedia10.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<div class="image">
    <div class="transparent-box">
        <p>Mowglipedia</p>
    </div>
</div>
<h4 class="text-center text-danger mt-5 mb-5">Just 4 steps to follow</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle">
                    <i class="fa-sharp fa-solid fa-circle-user mt-4" style="font-size: 40px"></i>
                </p>
                <p class="halfcircleBottom">
                    Create Account
                </p>

            </div>
            
        </div>

        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle">
                    <i class="fa-sharp fa-solid fa-sign-in-alt mt-4" style="font-size: 40px"></i>
                </p>
                <p class="halfcircleBottom">
                    Login
                </p>

            </div>
            
        </div>

        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle">
                    <i class="fa-sharp fa-solid fa-upload mt-4" style="font-size: 40px"></i>
                </p>
                <p class="halfcircleBottom">
                    Upload Notes
                </p>

            </div>
            
        </div>

        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle">
                    <i class="fa-sharp fa-solid fa-download mt-4" style="font-size: 40px"></i>
                </p>
                <p class="halfcircleBottom">
                    Download Notes
                </p>

            </div>
            
        </div>
    </div>
</div>
<br>
<br>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>We are dedicated to providing the best study notes sharing platform.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: hunteduteachinghub@gmail.com</p>
                <p>Phone: +91 7248650548</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <p>&copy; 2024 Mowgli Vloggers. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
