{% extends 'navbar.html' %}
{% load static %}
{% block body %}
{% if error == "no" %}
<script>
    alert('Logged In Successfully');
    window.location=('{% url 'admin_home' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Invalid Login Credentials, Try Again");
</script>
{% endif %}

<div class="container mt-5" style="background-color: whitesmoke">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'css/images/admin login.png' %}" class="img-thumbnail my-2" style="width: 100%; height:345px" alt="">  
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">Admin Login</h2>
            <hr>
            <p>Enter your username and password for accessing admin panel.</p>
            
            <form action="" method="POST">
                {% csrf_token %}
                <label for="uname">Username</label>
                <input type="text" class="form-control" placeholder="Enter UserName" name="uname" required>

                <label for="pwd">Password</label>
                <input type="Password" class="form-control" placeholder="Enter Password" name="pwd" required>
                <center><input type="submit" class="btn btn-primary mt-2" value="Login" href="{% url 'admin_home' %}"></center>
            </form>
        </div>
    </div>
</div>

{% endblock %}