{% extends 'admin_nav.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css">
<div class="container mt-5">
    <h2 class="text-center">View Pending Notes</h2>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="pendingNotesTable">
            <thead class="thead-dark">
                <tr>
                    <th>Sr. No.</th>
                    <th>Uploaded By</th>
                    <th>Uploading Date</th>
                    <th>Branch</th>
                    <th>Subject</th>
                    <th>Download Notes</th>
                    <th>File Type</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Assign Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ note.user.username }}</td>
                    <td>{{ note.uploadingdate }}</td>
                    <td>{{ note.branch }}</td>
                    <td>{{ note.subject }}</td>
                    <td><a href="{{ note.notesfile.url }}" class="btn btn-success" download>Download</a></td>
                    <td>{{ note.filetype }}</td>
                    <td>{{ note.description }}</td>
                    <td>{{ note.status }}</td>
                    <td><a href="{% url 'assign_status' note.id %}" class="btn btn-primary btn-sm">Assign Status</a></td>
                    <td><a href="{% url 'delete_notes' note.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#pendingNotesTable').DataTable({
            "order": [],
            "lengthMenu": [10, 25, 50, 75, 100],
            "pageLength": 10,
            "language": {
                "lengthMenu": "Show _MENU_ entries per page",
                "zeroRecords": "No matching records found",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "Showing 0 to 0 of 0 entries",
                "infoFiltered": "(filtered from _MAX_ total entries)",
                "search": "Search:",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Next",
                    "previous": "Previous"
                }
            }
        });
    });
</script>

{% endblock %}
