{% extends "user_nav.html" %}
{% load static %}
{% block body %}

<style>
    .profile-info {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .profile-info hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .profile-info .col-md-6 {
        font-weight: bold;
    }

    .profile-info .btn-edit {
        margin-top: 20px;
    }
</style>

<div class="container mt-5">
    <h2 class="text-center">Profile</h2>
    <hr>

    <div class="profile-info">
        <div class="row">
            <div class="col-md-6">
                <span>Full Name:</span>
            </div>
            <div class="col-md-6" style="text-transform: capitalize;">
                {{ data.user.first_name }} {{ data.user.last_name }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <span>Email ID:</span>
            </div>
            <div class="col-md-6">
                {{ data.user.username }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <span>Contact:</span>
            </div>
            <div class="col-md-6">
                {{ data.contact }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <span>Branch:</span>
            </div>
            <div class="col-md-6">
                {{ data.branch }}
            </div>
        </div>
    </div>

    <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-edit">Edit Profile</a>
</div>



{% endblock %}
