{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <h2 class="text-center">Existing User</h2>
                <hr>
                <p>By creating an account with our website, you will be able to access all the notes inclusive of uploading and downloading of the notes and more.</p>
                <center><a href="{% url 'login' %}" class="btn btn-danger text-white mt-3">Login</a></center>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <h2 class="text-center">Register With Us</h2>
                <hr>
                <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" placeholder="Enter First Name" name="first_name" required>
                    </div>

                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name" name="last_name" required>
                    </div>

                    <div class="form-group">
                        <label for="ph">Contact</label>
                        <input type="text" class="form-control" placeholder="Enter Phone no." name="contact" required>
                    </div>

                    <div class="form-group">
                        <label for="emailid">Email ID</label>
                        <input type="email" class="form-control" placeholder="Enter Email ID" name="emailid" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
                    </div>

                    <div class="form-group">
                        <label for="branch">Branch</label>
                        <select class="form-control" name="branch" id="branch">
                            <option value="Computer Science">Computer Science</option>
                            <option value="Electronics and Communication">Electronics and Communication</option>
                            <option value="Electrical">Electrical</option>
                            <option value="Electronics and Instrumentation">Electronics and Instrumentation</option>
                            <option value="Mechanical">Mechanical</option>
                            <option value="Civil">Civil</option>
                            <option value="Chemical">Chemical</option>
                            <option value="Production">Production</option>
                            <option value="Biotech">Biotech</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="role">Are You?</label>
                        <select class="form-control" name="role" id="role">
                            <option value="Faculty">Faculty</option>
                            <option value="Student">Student</option>
                        </select>
                    </div>

                    <center><input type="submit" class="btn btn-danger mt-2" value="Submit"></center>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Signup Successful');
    window.location=('{% url 'login' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, Try Again");
</script>
{% endif %}
{% endblock %}
