{% extends 'user_nav.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <h2 class="text-center">Upload Notes</h2>
            <hr>
    <div class="row">
      
        <div class="col-sm-6">
            
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Branch</label>
                <select class="form-control"  name="branch">
                    <option value="">---Select Branch---</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Electronics and Communication">Electronics and Communication</option>
                    <option value="Electrical">Electrical</option>
                    <option value="Electronics and Instrumentation">Electronics and Instrumentation</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="Civil">Civil</option>
                    <option value="Chemical">Chemical</option>
                    <option value="Production">Production</option>
                    <option value="Biotech">Biotech</option>
                </select>   

                <label>Subject</label>
                <input type="text" class="form-control" placeholder="Enter Subject Name" name="subject">

                <label>Notes File</label>
                <input type="file" class="form-control"  name="notesfile">

                <label>File Type</label>
                <select class="form-control"  name="filetype">
                    <option value="">---Select File Type---</option>
                    <option value="PDF">PDF</option>
                    <option value="PPT">PPT</option>
                    <option value="DOCX">DOCX</option>
                    <option value="TXT">TXT</option>
                    <option value="Image">Image</option>
                    <option value="Zip/RAR">Zip/RAR</option>
                    
                </select>   
                <label>Description</label>
                <textarea name="description" class="form-control"></textarea>

                
                <center><input type="submit" class="btn btn-danger mt-2" value="Submit"></center>
            </form>
        </div>
        <div class="col-sm-6">
            
            <img src="{% static 'css/images/Upload notes.jpg' %}" style="width: 100%; height: 400px" class="mt-2" alt="">
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Notes Uploaded Successfully');
    
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, Try Again");
</script>
{% endif %}
{% endblock %}
