{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
  <title>Notes Sharing Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
</head>  
<body>
    <h4 style="padding: 3%"><span style='color: blue'>Mowglipedia</span><span style='color:red'> Study Notes Sharing site</span></h4>
    <nav class="navbar navbar-expand-sm justify-content-center" style="background-color : lightgrey">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'profile' %}">HOME</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'upload_notes' %}">UPLOAD NOTES</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">VIEW MY NOTES</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="#">VIEW ALL NOTES</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
            </li>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Welcome {{request.user.fname}}</button>
                <div class="dropdown-menu">
                    <a href="{% url 'profile' %}" class="dropdown-item">PROFILE</a>
                    <a href="{% url 'edit_profile' %}" class="dropdown-item">EDIT PROFILE</a>
                    <a href="{% url 'changepassword' %}" class="dropdown-item">CHANGE PASSWORD</a>
                </div>
            </div>

        </ul>

    </nav>

</body>
</html>

{% block body %}{% endblock body %}